@import url('https://fonts.googleapis.com/css2?family=Fahkwang&display=swap');

@font-face {
	font-family: 'Pacifica';
	src: url('/fonts/pacifica-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	html {
		@apply text-[14.5px] md:text-[16px] lg:text-[16px];
	}

	body {
		@apply h-screen w-screen overflow-y-auto bg-dark;
		background-image: url('/giphy.gif');
		background-size: cover;
	}

	.icon {
		@apply rounded-full aspect-square p-1 w-10 flex justify-center items-center bg-light text-dark text-2xl;
	}
}